@import "tailwindcss";

@theme {
    --breakpoint-3xl: 1400px;
    --color-primaryColor: #4044C9;
    --color-violetDark: rgb(90, 31, 163);
    --color-violetMid: rgb(125, 46, 196);
    --color-violetLight: rgb(228, 80, 247);
}

html {
    scroll-behavior: smooth;
    word-break: break-word;
}

body {
    font-family: "Lato", "Noto Kufi Arabic", sans-serif;
}

.customShadow {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
}

.customShadow_3_6 {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.customShadow_12 {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.customShadow_12:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.bg-backgroundLinear {
    background: linear-gradient(to bottom right,
            var(--color-violetDark),
            var(--color-violetLight)),
        var(--color-violetMid);
    color: white;
}

.backgroundLinearAnimation {
    background: linear-gradient(to top left,
            var(--color-violetDark),
            var(--color-violetLight),
            var(--color-violetMid));
    background-size: 200% 200%;
    animation: gradientMove 3s ease-in-out infinite alternate;
}

.activeClass {
    position: relative;
}

.activeClass::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 4px;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background: linear-gradient(to bottom right,
        var(--color-violetDark),
        var(--color-violetLight)),
        var(--color-violetMid);
}

@keyframes gradientMove {
    from {
        background-position: 100% 100%;
    }

    to {
        background-position: 0% 0%;
    }
}

/* دعم فايرفوكس */
* {
    scrollbar-width: thin;
    /* رفيع */
    scrollbar-color: var(--color-violetLight) #e5e7eb;
    /* thumb (أزرق) , track (رمادي فاتح) */
}

/* دعم كروم / إيدج / سفاري */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* لو عندك scroll أفقي */
}

::-webkit-scrollbar-track {
    background: #e5e7eb;
    /* لون الخلفية */
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right,
            var(--color-violetDark),
            var(--color-violetMid),
            var(--color-violetLight));
    border-radius: 9999px;
}